!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %title Cedazo
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}/
    %link{media: 'all', rel: 'stylesheet', href: '/milligram.min.css'}/
    %link{media: 'all', rel: 'stylesheet', href: '/cedazo.css'}/
  %body
    .container
      .row
        .column.text-centered
          %h1 Cedazo
          %h2 El buscador para Jekyll
          %figure
            %img{src: '/sieve.png'}
            %figcaption
              %small
                %a{href: 'https://commons.wikimedia.org/wiki/File:Sieve_(PSF).png'}
                  Sieve, Wikimedia Commons, Dominio Público
          %a{href: 'https://wiki.kefir.red/Pol%C3%ADticas_de_Privacidad'}
            Política de Privacidad
          %br/
          %a{href: 'https://0xacab.org/itacate-kefir/cedazo'}
            Código fuente
